/*Estilo general de la tarjeta*/
.card {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
/* Bordes redondeados*/
.form-control, .form-select {
  border-radius: 8px;
}

.btn-primary {
  background-color: #007bff;
}

/* Efecto visual hover*/
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}